<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <div class="charcters content">
        <h2>Justice League Team</h2>
        
        <% if (charcters.length > 0) { %>
           <% charcters.forEach(charcter => { %>

                <h3 class="name"><%= charcter.name %></h3>
                <p class="species">Species: <%= charcter.species %></->
                <p class="enemy">Enemy: <%= charcter.enemy %></p>

            <% }) %>
        <% } else { %>   
            <p>You have no charcters in your Justice League Team</p>
        <% } %>

    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>