<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <div class="characters content">
        <h2>Current Justice League Team</h2>
        
        <% if (characters.length > 0) { %>
           <% characters.forEach(character => { %>

            <a class="single" href="/characters/<%= character._id %>">
                <h3 class="name"><%= character.name %></h3>
                <p class="species">Species: <%= character.species %>
                <p class="enemy">Enemy: <%= character.enemy %></p>
                <br>
            </a>

            <% }) %>
        <% } else { %>   
            <p>You have no characters in your Justice League Team</p>
        <% } %>

    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>